<div class="col-md mt-4">
  <h3 class="pb-4 mb-4 fst-italic border-bottom">CDAC Bangalore</h3>

  <article class="blog-post">
    <p>
      The Centre for Development of Advanced Computing (C-DAC) Bangalore,
      established in November 1987, was initially known as the Centre for
      Development of Advanced Computing Technology (C-DACT). It originated as a
      response to India's pursuit of supercomputing technology after being
      denied the purchase of a Cray supercomputer by the US Government due to
      nuclear weapons concerns. Dr. Vijay Bhatkar was appointed as the director
      of C-DACT, with an initial funding of ₹30,00,00,000, equivalent to the
      cost of a Cray supercomputer. A prototype computer benchmarked at the 1990
      Zurich Super-computing Show showcased India's achievement of having the
      world's second most powerful publicly demonstrated supercomputer. The
      result of the initiative was the creation of PARAM 8000, a significant
      supercomputer released in 1991.
    </p>

    <h2>Research Activities</h2>
    <p>
      C-DAC Bangalore engages in a diverse range of research activities,
      encompassing areas such as High Performance Computing, Grid Computing,
      Cloud Computing, Multilingual and Heritage Computing, VLSI and Processor
      design, Embedded Systems, Speech and Natural Language Processing,
      Information and Cyber Security, Ubiquitous Computing, Bioinformatics,
      Geomatics, Digital forensics, Big data analytics, Blockchain, Health
      Informatics, and Quantum computing.
    </p>

    <h2>Centres</h2>
    <p>
      C-DAC Bangalore operates as a pivotal centre for advanced computing
      research. Its network includes branches and training centres located
      across various cities, including Pune (Headquarters), Mumbai, Chennai,
      Delhi, Kolkata, Patna, Mohali, Noida, Hyderabad, Thiruvananthapuram, and
      Silchar. These centres contribute significantly to research and training
      in the field of advanced computing.
    </p>

    <h2>Education and Training</h2>
    <p>
      C-DAC Bangalore offers a comprehensive array of courses in advanced
      computing and software development. These encompass diploma programmes
      specializing in fields such as Embedded System Design, VLSI, Big Data
      Analytics, Geoinformatics, and Artificial Intelligence. Additionally,
      C-DAC plays an active role in international projects through Centres of
      Excellence in Information Technology (CEIT) established abroad under the
      Ministry of External Affairs' development partnership projects. The
      institution's commitment to education and training is evident through the
      Advanced Computing Training School (ACTS) spread across the country.
    </p>

    <h2>Products and Developments</h2>
    <p>
      Over the years, C-DAC Bangalore has spearheaded several notable
      contributions to technology. The PARAM series of supercomputers stands out
      as one of its remarkable achievements, providing India with powerful
      computing capabilities. India's first indigenous 64-bit Multi-core
      Superscalar Out-of-Order RISC-V Processor, known as VEGA Microprocessors,
      was developed at C-DAC Bangalore. The institution's innovations extend to
      mobile device security solutions (M-Kavach 2), a mobile app marketplace
      (Mobile Seva AppStore), an indigenous general-purpose operating system
      (Bharat Operating System Solutions), and numerous other advancements in
      diverse domains including genomics, linguistics, and networking.
    </p>

    <h2>Notable Researchers and Alumni</h2>
    <p>
      C-DAC Bangalore boasts a roster of esteemed researchers and accomplished
      alumni who have significantly impacted the field of technology. Dr. Vijay
      P. Bhatkar, the founding director of C-DAC, is recognized for his pivotal
      role in advancing supercomputing in India and has been honored with the
      Padma Bhushan award. Other notable figures associated with C-DAC Bangalore
      include Rajkumar Buyya, a professor at Melbourne University, Srinivasan
      Ramani, who played a role in bringing the internet to India in 1987,
      Sudhir P. Mudur, former director of C-DAC and current head of the Computer
      Science Department at Concordia University, and Geetha Manjunath, founder
      & CEO of NIRAMAI.
    </p>

    <h2>Awards and Accolades</h2>
    <p>
      C-DAC Bangalore's groundbreaking contributions have earned it numerous
      accolades. Noteworthy among these are the Manthan Award for projects such
      as Mobile Tele-Ophthalmology Units and e-safeT, recognition in the field
      of digital inclusion, the Skoch Digital Inclusion Award, and the National
      Award for the Empowerment of Persons with Disabilities. These awards
      underscore C-DAC Bangalore's commitment to innovation and its significant
      impact on various domains.
    </p>
  </article>
</div>
