<div class="container px-4 py-5" id="icon-grid">
  <h1 class="custom-heading" style="color: #176b87">PG-DAC Modules</h1>

  <div
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5"
  >
    <a
      href="/student/moduleResult/osModule"
      style="text-decoration: none"
      class="col"
    >
      <div
        class="module-list card text-white text-center p-3"
        style="background-color: #7091f5"
      >
        <div class="module-list-container">
          <h1 class="module-btn fw-bold mb-0">OS</h1>
        </div>
      </div>
    </a>
    <a
      href="/student/moduleResult/javaModule"
      style="text-decoration: none"
      class="col"
    >
      <div
        class="module-list card text-white text-center p-3"
        style="background-color: #ffc436"
      >
        <div class="module-list-container">
          <h1 class="module-btn fw-bold mb-0">Java</h1>
        </div>
      </div>
    </a>
    <a
      href="/student/moduleResult/dsaModule"
      style="text-decoration: none"
      class="col"
    >
      <div
        class="module-list card text-white text-center p-3"
        style="background-color: #ed7b7b"
      >
        <div class="module-list-container">
          <h1 class="module-btn fw-bold mb-0">DSA</h1>
        </div>
      </div>
    </a>
    <a
      href="/student/moduleResult/dbmsModule"
      style="text-decoration: none"
      class="col"
    >
      <div
        class="module-list card text-white text-center p-3"
        style="background-color: #beadfa"
      >
        <div class="module-list-container">
          <h1 class="module-btn fw-bold mb-0">DBMS</h1>
        </div>
      </div>
    </a>
    <a
      href="/student/moduleResult/dotnetModule"
      style="text-decoration: none"
      class="col"
    >
      <div
        class="module-list card text-white text-center p-3"
        style="background-color: #176b87"
      >
        <div class="module-list-container">
          <h1 class="module-btn fw-bold mb-0">.Net</h1>
        </div>
      </div>
    </a>
    <a
      href="/student/moduleResult/wptModule"
      style="text-decoration: none"
      class="col"
    >
      <div
        class="module-list card text-white text-center p-3"
        style="background-color: #89375f"
      >
        <div class="module-list-container">
          <h1 class="module-btn fw-bold mb-0">WPT</h1>
        </div>
      </div>
    </a>
    <a
      href="/student/moduleResult/sdmModule"
      style="text-decoration: none"
      class="col"
    >
      <div
        class="module-list card text-white text-center p-3"
        style="background-color: #545b77"
      >
        <div class="module-list-container">
          <h1 class="module-btn fw-bold mb-0">SDM</h1>
        </div>
      </div>
    </a>
    <a
      href="/student/moduleResult/advjavaModule"
      style="text-decoration: none"
      class="col"
    >
      <div
        class="module-list card text-white text-center p-3"
        style="background-color: #33bbc5"
      >
        <div class="module-list-container">
          <h1 class="module-btn fw-bold mb-0">Adv Java</h1>
        </div>
      </div>
    </a>
  </div>
</div>
