<div class="container my-5">
  <div
    class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5"
  >
    <svg class="bi mt-5 mb-3" width="48" height="48">
      <use xlink:href="#check2-circle"></use>
    </svg>
    <h1 class="text-primary fw-bold">Admission Successful</h1>
    <p class="col-lg-6 mx-auto mb-4">
      You've successfully admitted the student to
      <code class="bg-light p-1 rounded">PG-DAC Course CDAC Bangalore</code>
    </p>
    <button
      data-page="admission"
      class="show-page-button btn btn-primary px-5 mb-5 admit-btn"
      type="button"
    >
      Add New Student
    </button>
  </div>
</div>
