@media screen and (min-width: 768px) {
  .my-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .my-sidebar {
    position: fixed;
    width: 100%;
    margin-top: 150px;
  }
}

.custom-sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #c5dff8;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.custom-sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.custom-sidebar a.active {
  background-color: #0b666a;
  color: white;
}

.custom-sidebar a:hover:not(.active) {
  background-color: rgba(39, 40, 41, 0.73);
  color: white;
}

div.page-content {
  margin-left: 200px;
  padding: 1px 16px;
  position: relative;
  overflow-y: scroll;
  height: calc(100vh - 150px);
}

@media screen and (max-width: 700px) {
  .custom-sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .custom-sidebar a {
    float: left;
  }

  div.page-content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .custom-sidebar a {
    text-align: center;
    float: none;
  }
}
