/* Container for Staff Login */
.stafflogin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Staff Login Form */
.stafflogin-form {
  color: white;
  background: #136a8a;
  border-radius: 8px;
  padding: 50px;
  width: 35%;
}

/* Header Section in Form */
.stafflogin-form .head {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Company Name in Header */
.stafflogin-form .head .company {
  font-size: 2.2em;
}

/* Message Section */
.stafflogin-form .msg {
  text-align: center;
}

/* Form Inputs (Email and Password) */
.stafflogin-form .form input[type="email"].email,
.stafflogin-form .form input[type="password"].password {
  border: none;
  background: none;
  box-shadow: 0px 2px 0px 0px white;
  width: 100%;
  color: white;
  font-size: 1em;
  outline: none;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Placeholder Text Color */
.stafflogin-form .form input::placeholder {
  color: #d3d3d3;
}

/* Login Button */
.stafflogin-form .form .btn-login {
  background: none;
  text-decoration: none;
  color: white;
  box-shadow: 0px 0px 0px 2px white;
  border-radius: 3px;
  padding: 5px 2em;
  transition: 0.5s;
}

/* Hover Effect for Login Button */
.stafflogin-form .form .btn-login:hover {
  background: white;
  color: dimgray;
  transition: 0.5s;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .stafflogin-form {
    width: 70%;
    padding: 30px;
  }

  /* Adjust font size for smaller screens */
  .stafflogin-form .form input.email,
  .stafflogin-form .form input.password {
    font-size: 0.9em;
  }
}
